<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standar">
        <route id="unit5productlist" frontName="unit5productlist">
            <module name="unit5_productlist"/>
        </route>
    </router>
</config>

